.bar {
  animation: bar 1000ms infinite;
}

.bar:nth-child(even) {
  animation-delay: 500ms;
}

@keyframes bar {
  0% {
    height: 15px;
  }

  50% {
    height: 25px;
  }

  100% {
    height: 15px;
  }
}
